# --------------------
# 의존성 모듈 제외
# --------------------
node_modules/

# --------------------
# 빌드 및 컴파일 결과물 제외
# --------------------
# 일반 웹 빌드 결과물
dist/

# Electron 빌드 결과물
dist_electron/

# --------------------
# 로그 및 임시 파일 제외
# --------------------
*.log
.DS_Store # Mac 사용자용
npm-debug.log*

# --------------------
# 환경 설정 및 시크릿 파일 (필요시)
# --------------------
.env

# Antigravity
.antigravityrules